<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincent.android.architecture.main">

    <application>
        <!--图书馆-->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".index.bookdetails.BookDetailsActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".mine.focus_record.FocusActivity" />
        <activity android:name=".mine.forum.ForumActivity" />
        <activity android:name=".mine.seat_select.SeatSelectActivity" />
        <activity android:name=".mine.todo.TodoActivity" />
        <activity android:name=".mine.forum.publish.ForumPublishActivity" />
        <activity android:name=".community.publish.CommunityPublishActivity" />
        <activity android:name=".index.book_market.BookMarketActivity" />
        <activity android:name=".index.reading.BookReadingActivity" />
        <activity android:name=".mine.feedback.FeedBackActivity" />

        <!--食堂-->
        <activity
            android:name=".dining_hall.DiningHallActivity"
            android:launchMode="singleTask" />
        <activity android:name=".dining_hall.home.admin.deliver.DeliverActivity" />
        <activity android:name=".dining_hall.home.admin.statistics.StatisticsActivity" />
        <activity android:name=".dining_hall.home.admin.feedback.DhFeedbackActivity" />
        <activity android:name=".dining_hall.home.admin.dish.DishActivity" />
        <activity android:name=".dining_hall.home.admin.dish.manage.DishManageActivity" />
        <activity android:name=".dining_hall.buy.order.BuyOrderActivity" />
        <activity android:name=".dining_hall.home.nutrition.NutritionDetailsActivity" />
        <activity android:name=".dormitory.ui.ChamberClockInActivity" />
        <activity android:name=".dormitory.ui.ChamberOptionActivity" />
        <activity android:name=".dormitory.ui.CheckChamberActivity" />
        <activity android:name=".dormitory.ui.CheckEletronicAcitivity" />
        <activity android:name=".dormitory.ui.CheckEnvironmentActivity" />
        <activity android:name=".dormitory.ui.ControlActivity" />
        <activity android:name=".dormitory.ui.DoorRepairActivity" />
        <activity android:name=".dormitory.ui.DoorSystemActivity" />
        <activity android:name=".dormitory.ui.DorMainActivity" />
        <activity android:name=".dormitory.ui.ElectricUseActivity" />
        <activity android:name=".dormitory.ui.EnvironmentDetailActivity" />
        <activity android:name=".dormitory.ui.LeaveActivity" />
        <activity android:name=".dormitory.ui.PayElectronicActivity" />
        <activity android:name=".dormitory.ui.RepairDoorSystemActivity" />
        <activity android:name=".dormitory.ui.RepairElectricActivity" />
        <activity android:name=".classroom.ClassroomMainActivity" />
        <activity android:name=".classroom.PlayActivity" />
        <activity android:name=".classroom.VideActivity" />
    </application>
</manifest>